[submodule "HtmlToFlowDocument"]
	path = HtmlToFlowDocument
	url = https://github.com/lellid/HtmlToFlowDocument.git
[submodule "EpubReader"]
	path = EpubReader
	url = https://github.com/lellid/EpubReader.git
	branch = Lellid
